@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Light.ttf");
  font-weight: light;
}

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-SemiBold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Bold.ttf");
  font-weight: bold;
}

@layer base {
  :root {
    --window-color: 34 40 49;
    --base-color: 57 62 70;
    --primary-color: 0 173 181;
    --text-color: 238 238 238;
    --danger-color: 250 52 52;
  }

  * {
    user-select: none;
  }

  ::selection {
    @apply text-text bg-primary;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply font-quicksand text-text cursor-default;
  }

  body {
    @apply bg-window;
  }

  span,
  p,
  h1,
  h2,
  h3 {
    cursor: default;
  }

  h1 {
    @apply text-xl;
  }

  button {
    @apply font-bold;
  }

  button > * {
    cursor: pointer;
  }

  /* Hides controls in input of type "number" */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input {
    @apply w-full bg-darker/20 border-2 border-window focus:border-primary/40 outline-none py-1 px-2 rounded shadow-inner text-text;
  }

  input::placeholder {
    @apply text-text/60;
  }

  input > * {
    user-select: all;
  }

  button {
    outline: none;
  }
}
