@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
}

@layer base {
  :root {
    --window-color: 34 40 49;
    --base-color: 57 62 70;
    --primary-color: 0 173 181;
    --text-color: 238 238 238;
    --danger-color: 250 52 52;
    user-select: none;
  }

  ::selection {
    @apply text-text bg-primary;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply w-screen h-screen flex flex-col font-quicksand font-medium tracking-wider text-text cursor-default;
  }

  body {
    @apply w-screen h-screen flex flex-col bg-transparent transition-colors duration-300;
  }

  h1 {
    @apply text-xl;
  }

  button {
    outline: none;
    @apply font-bold transition-colors transition-opacity duration-300;
  }

  button > * {
    cursor: pointer;
  }

  button:disabled > * {
    cursor: not-allowed;
  }

  /* Hides controls in input of type "number" */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input > * {
    user-select: all;
  }
}

@layer components {
  .card {
    @apply bg-base/20 hover:bg-base/30 p-1.5 rounded-sm border-2 border-base/80 hover:border-base shadow shadow-black/30;
  }

  .circle {
    position: relative;
    overflow: hidden;
  }

  .circle::before {
    content: "";
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 300px 0px 300px #448ccb;
  }

  .window {
    @apply bg-window/95 border-2 border-primary/20 transition-colors;
  }

  .tooltip {
    @apply bg-base rounded border-2 shadow-lg border-window text-sm text-text p-0.5 px-2 pt-1;
  }
}
